/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
.log
note.txt

# Bỏ qua tất cả nội dung trong thư mục avatar
public/images/avatar/*
# Ngoại trừ các tệp README.txt
!public/images/avatar/*README.txt
# Ngoại trừ chính thư mục avatar (nếu cần đảm bảo thư mục được theo dõi)
!public/images/avatar/

public/images/reviews/*
!public/images/reviews

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
