.cart-container {
    display: grid;
    grid-template-columns: 65% 32%;
    column-gap: 3%;
    min-height: 90vh;
    box-sizing: border-box;
    margin: 3vh 1vw;
    * {
        border-radius: 10px;
    }
}
.container > div {
    border: 1px solid black;
    width: 100%;
    height: 100%;
}
.cart-items-column {
    display: grid;
    grid-template-rows: 10% auto;
    row-gap: 2vh;
}
.total-price-column {
    min-height: 30vh;
    height: fit-content;
}
.cart-container .items-table {
    display: grid;
    grid-template-columns: 45% 17% 16% 17% 5%;
    > * {
        font-size: large;
        font-weight: bold;
        margin-bottom: 0;
    }
    align-items: center;
}
.total-price-column > div > * {
    font-weight: bold;
    font-size: large;
    margin: 10px 0;
}
.item-image {
    width: 6vw;
    height: 6vw;
}
.cart-item {
    border-radius: 0;
    margin-top: 10px;
    padding-bottom: 20px;
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 20% 80%;
}
.cart-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 1px;
    background-color: #b7b7b7;
}
.cart-item-detail {
    display: grid;
    grid-template-columns: 32% 20% 20% 20% 20%;
    align-items: end;
    p {
        margin-bottom: 0;
    }
    .money {
        color: red;
    }
}
.fa-trash-can {
    cursor: pointer;
}
button.update-quantity:hover {
    background-color: #0F0E0E;
    color: white;
}
button.update-quantity {
    padding: 2px 8px;
}