/*style for home page*/
/* Banner */
.box-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: left;
}
.banner-content {
    text-align: center;
    color: white;
}
.banner-title-logo {
    font-size: 100px;
}
.banner-slogan {
    font-size: 50px;
}
/* Slogan */
.box-slogan {
    margin: 96px 0px 96px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slogan-content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 23vw;
    height: 30vh;
    padding: 40px;
    color: white;
    background-color: #0F0E0E;
    border-radius: 10px;
    font-weight: bold;
    font-size: 28px;
    overflow: hidden;
}
.slogan-text {
    position: relative;
    z-index: 2; 
    margin: 0px;
    text-align: center;
    transition: color 0.4s ease; 
}
.slogan-content::before {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: bottom 0.4s ease-in-out; 
    z-index: 1; 
}
.slogan-content:hover::before {
    bottom: 0;
}
.slogan-content:hover .slogan-text {
    color: #0F0E0E; 
}

/*css for call to action*/
#call-to-action-container #cards-container {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
    margin-bottom: 15vh;
}
.call-to-action-card {
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.call-to-action-hover {
    width: 85%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: bold;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.call-to-action-hover button {
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
}
.call-to-action-hover button:hover {
    background-color: #0F0E0E;
    color: white;
}
.call-to-action-overlay {
    background-color: #0F0E0E;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}
.call-to-action-card:hover .call-to-action-overlay {
    visibility: visible;
    opacity: 0.4;
}
.call-to-action-card:hover .call-to-action-hover {
    visibility: visible;
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* top trending products */
.product-card {
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.product-card-hover {
    position: absolute;
    top: 100%;
    left: 5%;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.product-card-overlay {
    background-color: #0F0E0E;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out;
}
.product-card-hover button {
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
}
.product-card-hover button:hover {
    background-color: #0F0E0E;
    color: white;
}
.product-card:hover .product-card-hover {
    visibility: visible;
    opacity: 1;
    top: 30%;
    transform: translateY(-30%);
}
.product-card:hover .product-card-overlay {
    visibility: visible;
    opacity: 0.6;
}
#card-products-container {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    column-gap: 1.3%;
}
/* For screens smaller than 600px (adjust as needed) */
@media (max-width: 600px) {
    .box-banner {
        background-position: -650px 0;
    }
    #card-products-container {
        display: flex;
        width: 100%;
        overflow-x: scroll;
        justify-content: start;
        align-items: center;
    }
    .product-card {
        width: 95vw;
    }
}
