.payment-container {
    display: flex;
    gap: 20px;
    width: 90vw;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .payment-method,
  .order-summary {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background: #fff;
  }
  
  .payment-method h2,
  .order-summary h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .payment-method label {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .payment-method form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .payment-method form input[type="text"] {
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .payment-method form .btn-buy {
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .payment-method form .btn-buy:hover {
    background-color: #444;
  }
  
  .payment-method h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .payment-method div p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .order-summary .item {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .order-summary .item img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
  }
  
  .order-summary .details {
    flex: 1;
  }
  
  .order-summary .details p {
    margin: 0;
    font-size: 14px;
  }
  
  .order-summary .details .price {
    font-weight: bold;
    margin-top: 5px;
  }
  
  .order-summary .total {
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
    font-size: 16px;
  }
  