.wrapper {
    display: flex; 
    justify-content: space-between; 
    align-items: stretch; 
    gap: 20px; 
    width: 80vw;
    margin: 100px auto;
    padding: 20px;
}
.payment-method-container,
.order-summary-container {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 300px; 
    display: flex; 
    flex-direction: column; 
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}
.payment-method label {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
}
.payment-method form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.payment-method form input[type="text"] {
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.payment-method form .btn-buy {
    margin-top: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
}
.payment-method form .btn-buy:hover {
    background-color: #444;
}
.payment-method h4 {
    margin-bottom: 10px;
    font-weight: bold;
}
.payment-method div p {
    font-size: 14px;
    margin: 5px 0;
}
.order-summary {
    height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.order-summary-container h4 {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    font-weight: bold;
}
.order-summary .item {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.order-summary .item img {
    width: 70px;
    height: 70px;
    border-radius: 4px;
}
.order-summary .details {
    flex: 1;
}
.order-summary .details p {
    margin: 0;
    font-size: 14px;
}
.order-summary .details .price {
    margin-top: 5px;
}
.order-summary .total {
    text-align: right;
    margin-top: 20px;
    font-size: 16px;
}
div p {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: 5px 0; 
    font-size: 14px; 
    color: #333; 
}
div p span {
    font-weight: bold; 
    color: #000;
}
@media (max-width: 768px) {
    .wrapper {
      flex-direction: column;
    }
    .payment-method-container,
    .order-summary-container {
      max-width: 100vw;
    }
}