#category-products-container {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
    margin: 5vh 10vw;
    row-gap: 1vw;
    * {
        border-radius: 10px;
    }
}
.category-product-card {
    border: 1px solid #b0b0b0;
    max-width: 100%;
    padding:2vh 2vw;
    box-sizing: border-box;
    background-color: white;
    > * {
        margin-bottom: 5px;
    }
}
.product-add-cart-and-order {
    button {
        width: 48%;
        padding: 5px 0;
    }
    button:hover {
        background-color: #0F0E0E;
        color: white;
    }
}
.category-product-card .product-image {
    width: 100%;
    aspect-ratio: 0.9;
    background-position: 50% 20%;
    background-size: cover;
}
#category-products-see-more {
    width: 20vw;
    padding: 7px 0;
    border-radius: 10px;
}
#category-products-see-more:hover {
    background-color: #0F0E0E;
    color: white;
}
@media (max-width: 1100px) {
    #category-products-container {
        grid-template-columns: 50% 50%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .product-price-and-sold {
        flex-direction: column;
        align-items: start !important;
    }
    .product-price-and-sold * {
        margin: 0;
    }
}