#category-products-container {
    min-height: 60vh;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    column-gap: 2%;
    margin: 5vh 10vw;
    row-gap: 1vw;
    * {
        border-radius: 10px;
    }
}

#category-products-see-more {
    width: 20vw;
    padding: 7px 0;
    border-radius: 10px;
    transition: all 0.1s ease-in;
}
#category-products-see-more:hover {
    background-color: #0F0E0E;
    color: white;
    transition: all 0.1s ease-in;
}
@media (max-width: 1100px) {
    #category-products-container {
        grid-template-columns: 50% 50%;
        margin-left: 5px;
        margin-right: 5px;
    }
}